
<h1>Hi!</h1>

<p>Please enter the twitter user you want to analyze:</p>

<form action="/analyze" method="post">
  <input type="text" name="user">
  <button type="submit" name="button">Analyze!</button>
</form>
